body {
    font-family: Helvetica;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}
.max-fram-c{
    max-width: 1280px;
}
.btn-c{
    color: white;
    border-radius: 2px;
    background-color: #03ba6d;
}
.img-icon-c{
    width: 18px;
    height: 18px;
}

.panel-body{
    padding-left:35px;
}
.hr-c{
    margin-right: 30px; 
    /*height: 1px;*/ 
    background-color: #d8d8d8;
}
.item-rp-c{
    justify-content: center; 
    /*height:25px;*/ 
    margin-top: 5px; 
    margin-left: 5px;  
    padding:3px 10px;
}
/*.caption-c{
    font-size:15px;
    font-weight:bold;
}*/
.repeat-c{
    display: block;
}
.subject-c{
    padding-left:10px;
}
.modal-close-btn-c{
    color: #03ba6d;
    margin-top:30px; 
    margin-right:30px;
}
.select-style-c {
        -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;

    cursor: pointer;

    background: #f9f9f9 url('../images/combo.png') no-repeat 97% 50%;
    background-size: 15px;


    font-size: 15px;
    font-weight: 400;
    color: #8a8888;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    padding: 0px 10px;

    float: left;
    border-radius: 0px;
    height: 32px;
    border: solid 1.2px #cdcdcd;
}
.modal-skill-c{
    overflow-y: scroll;
}
/*-----------------------
    navbar
-----------------------*/
.nav-container-c{
    width:100%;
    background-color: rgba(255,255,255,0.88);
    /*opacity: 0.88;*/
}
.logo-img-c{
    margin-top:10px;
    width:305px;
    height:33.6px;
}
.nav-right-c{
    margin-right:-60px;
}

.prf-nav-c{
    height:80px;
    border-bottom:solid 0.5px #979797;
    background-color: rgba(255,255,255,0.88);
}
.menu-mo-c{
    display:none;
}
.acc_name-c{
    margin-top: 10px;
    color:#616161;
    font-weight: bold;
    font-size:16px;
    letter-spacing:0.8px;  
}

.logout-btn-c{
    color: #4a4a4a;   
}
.logout-txt-c{
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #4a4a4a;
  text-decoration:none;
}
.logout-email-c{
    font-family: Helvetica; 
    font-size: 10px; 
    font-weight: 400; 
    letter-spacing: 0.5px; 
    color: #7e7d7e;
}
/********************************************/
/******************* start logout menu *************************/
/********************************************/
.dropdown {    
    margin-top:15px;
}
.dropdown-menu{
    height:47px;
}
.dropdown-menu>li>a {
    color:#4a4a4a;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:15px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";    
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
/********************************************/
/********************* finish logout menu ***********************/
/********************************************/
.main-cnt-c{
    background-color:#f3f3f3;
}
.small-profile-img-c {
    width: 74px;
    height: 72.8px;
    /*margin-top:7px;*/
}

.pf_icon-c {
    /*width: 5.3px;
    height: 9.7px;*/
    font-size:12px;
    color: #03ba6d;
    font-weight:100;
        /*content: '\e259';
        font-family: "Glyphicons Halflings";*/
}

.main-cn-c{
    margin-top:80px;
    background-color:#f3f3f3;
    max-width: 1300px; 
    margin-left: auto; 
    margin-right: auto;  
}

.myPrf-h2-c{
    margin-top:34.8px;
    padding-left:15px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #616161;
}
.prf-img-c {
    margin-top:30px;
    /*padding-right:20px;*/
    margin-left:20px;
    width: 103px;
    height: 105.3px;
}

.prf-info-c{
    padding-left:0px;
}
    .prf-info-c h4 {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.9px;
        color: #616161;
        font-style: normal;
        font-stretch: normal;
    }
    .prf-info-c h5 {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.8px;
        color: #616161;
    }
    .prf-info-c p {
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0.7px;
        color: #616161;
    }
    .prf-info-c a {
        text-decoration:none;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0.7px;
        color: #03ba6d;
        font-style: normal;
        font-stretch: normal;
        /*font-family: LucidaGrande;*/
    }

.prf-edu-c {
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #8d8b8b;
}
.prf-edu-info-c{
    margin-left:15px;
}


.panels-c h4 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.9px;
    color: #616161;
}
.panels-c h5 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #616161;
}
.panels-c p{
    font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.7px;
  color: #616161;
}

.a-btn-c{
    text-decoration:none;
    color:black;
}
.btn-add-c, .btn-edit-c, .btn-delete-c{
    display:none;
}
/************************/
/*** add main service ****/
/************************/
.serviceContainer {
  display: block;
  padding: 0 0 10px 10px;
}
.field-div-right-left {

    display:block;
    text-align:left;

    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0px;

}

.srv-item {
  background-color: #f9f9f9;
  float:left;
  display: inline-block;
  margin: 0;
  margin-right: 14px;
  margin-bottom: 14px;
  height: 132px;
  width: 132px;
  /*padding-top: 66px;*/
  border: solid 0.5px #979797;
  border-radius: 2px;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  color: #616161;
  font-weight: normal;
}
.srv-image {
    position: absolute;

      max-height: 70px;
      margin-left: 31px;
      margin-right: 31px;
      margin-top: 15px;
}

.srv-image-skill {
    position: relative;
    max-height: 55px;
    max-width: 65px;
    margin: 0px;
    padding: 0;
}

.skill-lbl{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  color: #616161;
  font-weight: normal;
}

.skill-lbl.selected{
  font-weight: bold;
  text-align: center;
  color: #23b46c;
}
.srv-item.selected {
 border: solid 2px #23b46c;
}
.field-div {

    display:block;
    text-align:left;

    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;

}
.field-div-MainSrv {

    display:block;
    text-align:left;

    padding-top: 0px;
    padding-left: 35px;
    padding-right: 21px;
    margin-bottom: 0px;

}
/*******/
/* add skill */
/******/
.field-div-right-left {

    display:block;
    text-align:left;

    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0px;

}
.black-border-label {
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: normal;
    color: #625f5f;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 9px;
    background-color: #d8d8d8;
    border-radius: 8px;
}


.black-border-label.selected {
  background-color: #03ba6d;
  color: #ffffff;
}

.app-skill-modal-window .modal-dialog {
      width: 640px;
      border-radius: 3px;
      min-height: 480px;
      background-color: #f9f9f9;      
    }
.radio-button-text {
    float: left;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #616161;
}
input[type='radio'] {
  -webkit-appearance:none;
  width:16px;
  height:16px;
  border:1px solid #979797;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 0px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px rgb(3, 186, 109) inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}

input[type='radio']:checked:before {
  background:rgb(3, 186, 109);
}
ul { list-style: none; }
li { padding: 2px 0; }
/*  tag  */
.tag-skill-c {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;

  padding: 0.5em 1em 0.5em;
  margin: 2px 1px !important;
  display: inline-block;
  max-width: 100%;

  border-radius: 8px;
  background-color: #03ba6d;
  height: 35px;
}

.tag-skill-c > span {
  display: inline-block;
  max-width: 94%;
  white-space: nowrap;
  /*overflow: hidden;*/
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tag-skill-c a {
  display: inline-block;
  color: #bbb;
  cursor: pointer;
  opacity: 0.3;
  margin: 0 0 0 0.3em;
}

.tag-skill-c a:hover {
  opacity: 1.0;
}

.tag-skill-c a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.tag-skill-c .remove {
  vertical-align: bottom;
  top: 0;
}


/*----------------------------
    Languages
    ----------------------------*/
.panel-language-c h3:hover .add-language-c{
    color:#b8e986;
    display:inline;
}
input[type='radio']:hover {
  box-shadow:0 0 5px 0px green inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}

input[type='radio']:checked:before {
  background:rgb(3, 186, 109);
}
/*-------------------------------
    History
    ------------------------------*/
.panel-history-c h4:hover .add-history-c{
    color:#b8e986;
    display:inline;
}
/*.history-txt-c{
    height:25px;
}*/

/*-------------------------------
    Education
    ------------------------------*/
.panel-education-c h4:hover .add-education-c{
    color:#b8e986;
    display:inline;
}

/*-------------------------------
    Volunteering
    ------------------------------*/
.panel-volunteering-c h4:hover .add-volunteering-c{
    color:#b8e986;
    display:inline;
}


/*-------------------------------
    Certifications
    ------------------------------*/
.panel-certifications-c h4:hover .add-certifications-c{
    color:#b8e986;
    display:inline;
}


/*-------------------------------
    Test Scores
    ------------------------------*/
.panel-scores-c h4:hover .add-scores-c{
    color:#b8e986;
    display:inline;
}


/*-------------------------------
    Projects
    ------------------------------*/
.panel-projects-c h4:hover .add-projects-c{
    color:#b8e986;
    display:inline;
}

/*---------- modal ------------*/
.prj-tmb-txt-c {
    /*width: 291px;*/
    width: auto;
    height: 42px;
    border: solid 1px #e0e0e0;
    text-align: center;
    padding-top: 10px;
}
    .prj-tmb-txt-c a {
        text-decoration:none;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        color: #494949;
    }
        .prj-tmb-txt-c a span {
            color: #03ba6d;
        }

/*-------------------------------
    Honors & Awards
    ------------------------------*/
.panel-awards-c h4:hover .add-awards-c{
    color:#b8e986;
    display:inline;
}


/*-------------------------------
    Courses
    ------------------------------*/
.panel-courses-c h4:hover .add-courses-c{
    color:#b8e986;
    display:inline;
}


/*---------------
    History Modal
    --------------*/
.modal-c{
    width:750px;
    margin-left:auto;
    margin-right:auto;
}
.modal-h-c{
    background-color: #f9f9f9;
    height:70px;
}
.modal-b-c{
    margin-left:30px;
    margin-right:30px;
}
.m-title-c {
    font-size: 20px;
    font-weight: 100;
    padding-top:12px;
    padding-left:32px;
    color: #494949;
}
.form-g-c{
    padding-top:50px;
}
.fg-c{
    margin-top:20px;
}
.modal-item-c{
    margin-top:20px;
}

.through-txt-c {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #494949;
}
input[type="checkbox"] {
  display: none;
}

.custom-check {
		display: inline-block;
		width: 15px; height: 15px;
		background: white;
		border: 1px solid #03ba6d;
        font-family: 'Glyphicons Halflings';
		font-size: 14px;
		line-height: 1;
	}
.custom-check::before {
  content: "\e013";
  color: #424242;
  display: none;
}

input[type=checkbox]:checked+.custom-check::before {
  display: block;
}
.chk-lbl-c {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #494949;
}

/*------
    modal footer
    -----*/
.m-footer-c{
    border:none;
    text-align:left;
}
.btn-save-c {
    width: 80px;
    height: 35px;
    color: white;
    border-radius: 2px;
    background-color: #03ba6d;
    font-size:15px;
    /*margin-left: 32px;*/    
}
.btn-save-more-c {    
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #03ba6d;
    width: 140px;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #cccccc;
  background-color:white;
}
.btn-cancel-c {
    padding-left:50px;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #03ba6d;
    background-color:white;
}


/*-------  right info  ------------*/
.prf-strength-img-c{
    height:102px;
}
.strength-cnt-c h3 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: #616161;
}

.strength-cnt-c a {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.7px;
    color: #03ba6d;
    text-decoration:none;
}

.strength-cnt-c hr{
    border: solid 0.5px #979797;
    
}

.strength-cnt-c p {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.6px;
    color: #616161;
}
    .strength-cnt-c p span {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0.6px;
        color: #a1a1a7;
    }


/*-----------------------
    forth footer
    -----------------------*/
.container-footer-c{
    position:relative;
    width: auto;
    height: 305px;
    background-color: #d8d8d8;
    border: solid 0.0px #979797;
    text-align: left;
    color: #818181;
    margin-bottom:0px;
}
.container-footer-c h4{
    /*padding-left:79px;*/
    margin-top:77px;
    font-weight: bold;
    font-size:18px;
}
.f-section-c{
    margin-top:-35px;
}
.f-section-c p{
    margin-top: -8px;
    font-size: 14px;
    /*padding-left: 79px;*/
    line-height: 2.1;
    color: #818181;
}

.f-items-c{
    text-decoration:none !important;
    margin-top: -8px;
    font-size: 14px;
    /*padding-left: 79px;*/
    line-height: 2.1;
    color: #818181;
}

.f-copyright-c{
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: auto;
    height: 41.3px;
    background-color: #9b9b9b;
    
}
    .f-copyright-c p{
        /*position: absolute;*/
        font-size: 12px;
        color: #4a4a4a;
        font-weight: 300;
        line-height: 1.33;
        padding-top: 14.3px;
        left: 0px;
        text-align:center;  
        display:block;          
        margin-left: auto;
        margin-right: auto;  
    }
   
@media screen and (max-width: 992px) {
        /*-----------------------
    navbar
    -----------------------*/
        .logo-img-c {
            margin-top:4px;
            width: 230px;
            height: 28px;
        }
        .acc_name-c {
            width: 41px;
            height: 14px;
            font-size: 12px;
            letter-spacing: 0.6px;
            margin-right: 31.4px;
        }

        /*-----------------------
    forth footer
    -----------------------*/
        .container-footer-c{ 
            height:185px;
        }
        .container-footer-c p{
            font-size: 10.5px;
        }
        .container-footer-c h4{
            margin-top: 50.4px;
            /*padding-right: 59.1px;*/
            font-size: 13.5px;
            font-weight: bold;
        }
        .f-copyright-c p{
            font-size: 9px;
            /*padding-right: 59px;*/
            /*margin-top: 15.3px;*/
        }
    }

@media screen and (max-width: 767px) {
   .container-fluid{
        /*padding: inherit;*/
        padding-left:0px;
        padding-right:0px;
        text-align: center;
        /*margin-left: -50px;*/
        /*background-color:orange;*/
        
    }
        /*-----------------------
        navbar
        -----------------------*/
        .prf-nav-c {
        height: 52px;
    }
        .nav-container-c{
            /*background-color:lightblue;*/
           /*position:relative;*/
           height:50px;           
           width:auto;
           /*margin-right:50px;*/
           /*align-content:center;*/
       }
    
        .logo-img-c {
            position:absolute;
            width: 125px;
            height: 15px;
            /*margin:auto;*/
            /*margin-left:50%;
            margin-right:50%;*/
            right:40%;
            left:40%;
            margin-left:-20px;
        }
    
        #myNavbar{
            display:none;
        }
        .menu-mo-c{
            display:inline-block;
        }
        .small-profile-img-c{
            position:absolute;
            top:8px;
            /*right:0px;*/
            width:30px;
            height:30px;
        }
        .acc_name-c{
            position:absolute;
            top:8px;
            /*right:0px;*/
            left:50px;
            font-size: 10px;
            letter-spacing: 0.5px;
        }
    .pf_icon-c {
        font-size:10px;
        
    }

    .dropdown ul.dropdown-menu {    
    margin-left:-20px;
    width:180px;
    height:35px;
}
    .dropdown ul.dropdown-menu:before {
    right:auto;
    left: 16px;
    }
    .dropdown ul.dropdown-menu:after {
        right:auto;
        left: 15px;
    }


        .logout-btn-c{
            /*margin-top:7px;*/
            margin-bottom:auto;
            /*margin-left:10px;*/

        }
        .logout-txt-c {
        font-size:10px;
        margin-top:auto;
    }
    .logout-email-c{
        font-family: Helvetica; 
        font-size: 10px; 
        font-weight: 400; 
        letter-spacing: 0.5px; 
        color: #7e7d7e;
        /*position:absolute; 
        top:7px;
        right:5px;/*0px;*/*/
    }


    .main-cn-c {
        text-align:center;        
        margin-top:50px;
    }
        .panels-c{
            width:100%;
            margin-left:15px;
            margin-right:15px;
        }

        .modal-c{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

        .main-cn-c h2{
            margin-top:30px;
    /*padding:inherit;*/
    font-size: 28px;
    font-weight: normal;
}
        .strength-cnt-c hr{
            width:100%;
            margin-left:15px;
            margin-right:15px;
        }
        /*-----------------------
        forth footer
        -----------------------*/
        .f-section-c{
            margin-bottom:20px;
        }
        .container-footer-c{    
            position:relative;        
            height:auto; 
            text-align:center;        
        }
        .container_footer-c p{
            font-size: 10.5px;
        }
        .container_footer-c h4{
            /*margin-top: 50.4px;
            padding-right: 59.1px;*/
            font-size: 13.5px;
            font-weight: bold;
        }
        .f-copyright-c p{
            font-size: 9px;
            text-align:center;
            /*padding-right: 89px;*/
            /*margin-top: 15.3px;*/
        }
} 