@import url('http://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');
@import url('http://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');


@media only screen and (min-width: 768px) {
  .div-right-left-margin{
    display:block;
    text-align:left;

    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0px;
  }

  .bottomMargin{
    margin-bottom: 5px;
  }
  .marginTop{
      margin-top: 10px;
  }


}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .div-right-left-margin{
    display:block;
    text-align:left;

    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0px;

  }
  .bottomMargin{
    margin-bottom: 5px;
  }
  .marginTop{
      margin-top: 10px;
  }
}

@media only screen and (max-width: 599px) {
  .div-right-left-margin{
    display:block;
    text-align:left;

    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;

  }

  .marginTop{
      margin-top: 5px;
  }

}
.container-c {
    position:relative;
    width:100%;
}



.login-header{
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 3%;

  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color:#616161;
}
.btn-login-c {
    width: 100%;
    height: 60px;
    cursor: pointer;

    border:  solid 1px #979797;
    color: #4a4a4a;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    padding-left: 0;
    border-radius: 6px;
    background-color: white;
}

.textbox-login-style {
    float: left;
    border-radius: 6px;
    height: 60px;
    border:  solid 1px #979797;
  }

.field-label-login {
  text-align: left;
  display: block;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #616161;
  font-weight: 700;
  padding: 0;
}

.checkbox-label{
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #616161;
  padding-left: 0;

}

.checkbox-remember{
  margin:0;
  float: left;
  text-align: left;
  height: 30px;
  padding-top: 8px;
}

.custom-check-Login {
		display: inline-block;
		width: 16px; height: 16px;
		background: white;
		border:  solid 1px #979797;
    border-radius: 2.4px;
    font-family: 'Glyphicons Halflings';
	}
.custom-check-Login::before {
  content: "\e013";
  color: #424242;
  display: none;
}

input[type=checkbox]:checked+.custom-check-Login::before {
  display: block;
}

.greenBtn{
  background-color: #01bc69;
  color: #ffffff;
}


.green-forgetPass{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #00bc6d;

  text-align: left;
}
