@import url('http://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');
@import url('http://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .step-div{
    margin-right: auto;
    margin-left: auto;
    width: 640px;
    min-height: 831px;
    }
    .app-lang-modal-window .modal-dialog {
      width: 640px;
      border-radius: 3px;
      min-height: 580px;
    }
    .btn-prev-div{text-align: right;}
    .btn-next-div{text-align: left;}
  }

  @media only screen and (min-width: 600px) and (max-width: 767px) {
    /* For tablets: */
    .step-div{
      margin-right: auto;
      margin-left: auto;
      min-width:640px;
      min-height: 831px;
      }
      .btn-prev-div{text-align: center;}
      .btn-next-div{text-align: center;}
    }
    @media only screen and (max-width: 599px) {
      /* For phones: */
      .step-div{
        margin-right: 0px;
        margin-left: 0px;
        min-width:640px;
        min-height: 831px;
        }
        .btn-prev-div{text-align: center;}
        .btn-next-div{text-align: center;}
      }

.body-c {
    background: url('../images/blurry_background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.step-div {
    border-radius: 3px;
    background-color: #f9f9f9;
    position: relative;
    margin-top:30px;
    padding: 0;
}

.step-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background-color: rgb(238, 238, 238);
    position: absolute;
    height: 72px;
    top: 0px;
    right:0px;
    left:0px;
}

.step-title {
    text-align: center;
    color: #616060;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.1px;
    padding: 2%;
}

.step-form{
    margin-top:169px;
}

.bar-image {
    position: absolute;

    width:100%;
    margin-top: 97px;
    margin-bottom: 40px;

    max-height: 32px;
    left: 0px;
    right: 0px;
}

.field-center-label {

    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #616161;
    text-align: center;
}

.field-div {

    display:block;
    text-align:left;

    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;

}

.field-div-right-left {

    display:block;
    text-align:left;

    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0px;

}


.zero-margin{margin: 0;}

.field-label {

    text-align:left;
    display:block;

    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #616161;
    font-weight: 700;

    padding:0;
}

.input-style {
  float: left;
  border-radius:0px;

}

input[type='text']{
  font-family: Helvetica;
  font-size: 15px;
}

.textbox-style{
  float: left;
  border-radius:0px;
  height: 42px;
  border: solid 1.2px #cdcdcd;
  background-color: #f9f9f9;
}

.location-image {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 2px;

}

.select-style {
    -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;

  /*  width: 231px;
    height: 31px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    float: right;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #fff;
    */
    cursor: pointer;

    background: #f9f9f9 url('../images/combo.png') no-repeat 97% 50%;
    background-size: 15px;


    font-size: 15px;
    font-weight: 400;
    color: #8a8888;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    padding: 0px 10px;

    float: left;
    border-radius: 0px;
    height: 42px;
    border: solid 1.2px #cdcdcd;
}


.radio-button-text {
    float: left;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #616161;
}

.radio-button-text-lang {
  font-size: 15px;
  font-weight: bold;
  color: #616161;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


input[type='radio'] {
  -webkit-appearance:none;
  width:16px;
  height:16px;
  border:1px solid #979797;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 0px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px rgb(3, 186, 109) inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}

input[type='radio']:checked:before {
  background:rgb(3, 186, 109);
}

.custom-check {
		display: inline-block;
		width: 15px; height: 15px;
		background: white;
		border: 1px solid rgb(3, 186, 109);
    font-family: 'Glyphicons Halflings';
		font-size: 10px;
		line-height: 1;

	}
.custom-check::before {
  content: "\e013";
  color: #03ba6d;
  display: none;
}

input[type=checkbox]:checked+.custom-check::before {
  display: block;
}

.red-thin-label {
    float: left;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ff0000;


}


.btn-div-c{
    text-align:center;
/*    margin-bottom:30px;*/
}
.btn-next-c {
    width: 200px;
    height: 42px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #03ba6d;
    border:0;

    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-prev-c {
    width: 200px;
    height: 42px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 2px;
    border: 1px solid rgb(204,204,204);

    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #cdcdcd;
}

.footer {
    bottom: 0;
    text-align: center !important;
    height: 74px;
    position:absolute;
    width:100%;
 }

 .footer-AddBTN {
     bottom: 0;
     text-align: center !important;
     height: 144px;
     position:absolute;
     width:100%;
  }


.btn-add-new {
    width: 260px;
    height: 42px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 2px;
    border: 1px solid #cdcdcd;

    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #03ba6d;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.modal-title-font{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 1.1px;
  text-align: center;
  color: #616060;
}

.black-thin-label-lang{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #616161;
}

.black-thin-label {
    float: left;
    font-size: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 200;
    color: rgb(90, 90, 90);
}

.field-Bold-label {

    text-align:left;
    display:block;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #616161;
}


.serviceContainer {
  display: block;
  padding: 0 0 10px 10px;
}

.item {
  background: rgb(255, 255, 255);
  float:left;
  display: inline-block;
  margin: 10px 10px 0 0;
  height: 108px;
  width: 108px;
  padding-top: 66px;
  border: solid 0.5px #979797;

  font-size: 9px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: bold;
  color:#616161;
  font-weight: 300;
  text-align: center;
}

.item.selected {
  /*background-color: rgb(3, 186, 109);*/
  color: rgb(3, 186, 109);
  border: solid 1.4px #03ba6d;
}


.ng-touched.ng-invalid::-webkit-input-placeholder { color: red; }
.ng-touched.ng-invalid { border:1px solid red; }

.ng-touched.ng-valid::-webkit-input-placeholder { font-size: 15px;  font-weight: 400;  color: #8a8888; }
.ng-touched.ng-valid{ color: #8a8888;}
.ng-touched.ng-valid { border:1px solid #cdcdcd; }

#citySelect.ng-touched.ng-invalid {
  border:1px solid red;
  background: #f9f9f9 url('../images/combo-red.png') no-repeat 97% 50%;
  background-size: 15px;
  color:red;
}

.red-Placeholder::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: red;
}
.red-Placeholder:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: red;
    opacity: 1;
}
.red-Placeholder::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: red;
    opacity: 1;
}
.red-Placeholder:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.skill-div {
    width: 374px;
    height: 350px;
    position: absolute;
    padding-left: 33px;
    padding-right: 26px;
}

ul { list-style: none; }
li { padding: 2px 0; }

.error-label {

    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: bold;
    color: red;
    font-weight: 300;
}

.ok-btn{
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(3, 186, 109);
  border-radius: 2px;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;

}


.service-div{
  /*  width: 374px;
    height: 30px;
    position: absolute;
    padding-left: 33px;
    padding-right: 26px;
*/
    display:block;
    text-align:left;
    padding-left: 10px;
    padding-right: 10px;

    /*margin-bottom: 30px;*/

}
.tag {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  padding: 0.5em 1em 0.5em;
  margin: 2px 1px !important;
  display: inline-block;
  max-width: 100%;
}

.tag-label{
  border-radius: 8px;
  background-color: #03ba6d
}
.tag > span {
  display: inline-block;
  max-width: 94%;
  white-space: nowrap;
  /*overflow: hidden;*/
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tag a {
  display: inline-block;
  color: #bbb;
  cursor: pointer;
  opacity: 0.3;
  margin: 0 0 0 0.3em;
}

.tag a:hover {
  opacity: 1.0;
}

.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.tag .remove {
  vertical-align: bottom;
  top: 0;
}






.black-border-label.selected {
  background-color: rgb(3, 186, 109);
}
.red{
  border-color: red;
  border-style:solid;
}

.green-button {
    background-color: rgb(3, 186, 109);
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    width: 180px;
    padding-bottom: 9px;
    padding-top: 9px;
    cursor: pointer;
    position: absolute;
    bottom: 42px;

}





.profeciencyRadio-button-text {
    float: left;
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 300;
    color: rgb(97, 97, 97);

    width: 374px;
    height: 30px;


}

.skill-div {
    width: 374px;
    height: 350px;
    position: absolute;
    padding-left: 33px;
    padding-right: 26px;
}




.field-text-area {
    float: right;
    resize: none;
    width: 218px;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  user-select: none;
}

.checkbox-area{
  float: left;
  position: absolute;
  width: 100px;
  height: 100px;
  padding-left: 10px;

  font-size: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style:normal;
  font-weight: 450;
  color: rgb(3, 186, 109);
  text-align: center;
}


.select-area1 {
    float: right;
    resize: none;
    width: 231px;
    height: 31px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;

    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: bold;
    color: rgb(97, 97, 97);
}

.select-area2 {
    float: left;;
    resize: none;
    width: 182px;
    height: 31px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;

    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: bold;
    color: rgb(97, 97, 97);
}
.select-area3 {
    float: left;;
    resize: none;
    width: 375px;
    height: 31px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;

    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: bold;
    color: rgb(97, 97, 97);
}

.field-text-area-2 {
    float: right;
    resize: none;
    width: 150px;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.hint-span {
    font-size: 9px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: rgb(81, 81, 81);
}

.field-text-area-3 {
    float: right;
    resize: none;
    width: 50px;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}


.field-text-area-4 {
    float: right;
    resize: none;
    width: 360px;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}

::-webkit-input-placeholder {
    color: rgb(205, 205, 205);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

:-moz-placeholder {
    color: rgb(205, 205, 205);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

::-moz-placeholder {
    color: rgb(205, 205, 205);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

:-ms-input-placeholder {
    color: rgb(205, 205, 205);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}


.green-label {
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 450;
    color: rgb(3, 186, 109);
    text-align: center;
}


.full-width-input {
    resize: none;
    width: 360px;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.full-width-input-2 {
    resize: none;
    width: 360px;
    height: 45px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.full-width-input-two-lines {
    resize: none;
    width: 360px;
    height: 55px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.black-bold-label {
    font-size: 11px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 400;
    color: rgb(97, 97, 97);
}

.black-border-label {
    font-size: 11px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 400;
    color: rgb(97, 97, 97);
    padding:5px;
    border: 1px solid lightgray;
    background-color: lightgrey;
    border-radius: 3px;
}





.add-more-text {
    width: 358px;
    text-align: right;
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 300;
    color: rgb(153, 153, 153);
    margin-top: -10px;
}

.add-more-text-2 {
    width: 358px;
    text-align: right;
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 300;
    color: rgb(153, 153, 153);
    margin-top: 10px;
}

.add-more-text-3 {
    width: 358px;
    text-align: right;
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 300;
    color: rgb(153, 153, 153);
    margin-top: 1px;
}

.add-more-text-4 {
    width: 358px;
    text-align: right;
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 300;
    color: rgb(153, 153, 153);
    margin-top: 20px;
}


.gray-button {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(204,204,204);
    color: rgb(204, 204, 204);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    width: 180px;
    padding-bottom: 8px;
    padding-top: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 42px;

}

.button-center{
    left: 0;
    right: 0;
    margin: auto
}

.button-left {
    left: 30px;
}

.button-right {
    left: 220px;
}

.small-green-label {
    float: left;
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 450;
    color: rgb(3, 186, 109);
    text-align: center;
}

#skilldList li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
