<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-resource.min.js"></script>

    <link href="css/steps_style.css" rel="stylesheet">
      <link href="css/login_style.css" rel="stylesheet">

    <link href="Styles/CustomStyle.css" rel="stylesheet" />

    <title>Login</title>

</head>
<body bgcolor="#323232" ng-app="myAppLogin" ng-controller="loginController" >
  <nav class="navbar navbar-fixed-top">
      <div class="container nav-container-c">
          <div class="navbar-header">
              <a class="navbar-brand" href="#/">
                  <img class="logo-img-c" src="images/logo.png" />
              </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">

              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/steps.html" class="login-link-c">Sign up</a></li>
              </ul>
          </div>

      </div>
  </nav>

  <div class="container container-c">

      <div class="row" style="margin-top:40px; text-align:center;">
        <h2 class="login-header">Log in and make your profile better </h2>
        <h4 style="color:red; font-size:16px;" ng-show="notLoginMsg">We don't recognize this user ID or password, Please try again. </h4>
      </div>


      <div class="row">
        <div class="col-sm-4 "></div>
        <div class="col-sm-4 ">
          <input type="email" class="form-control input-style" placeholder="{{emailPlaceholder}}"   ng-model="email" ng-style="requiedStyleEmail"  required/>
        </div>
        <div class="col-sm-4 "></div>
      </div>


      <div class="row" style="margin-top:30px">
        <div class="col-sm-4 "></div>
        <div class="col-sm-4 ">
          <input type="password" class="form-control input-style"  placeholder="{{passwordPlaceholder}}"  ng-model="password" ng-style="requiedStylePassword"  required/>
        </div>
        <div class="col-sm-4 "></div>
      </div>

<div class="row" style="margin-top:40px">
  <div class="col-sm-4 "></div>
  <div class="col-sm-4 ">
    <div class="col-sm-4" style="float:left;padding-left:0;">
      <button type="button" class="btn-login-c" ng-click="login()">Login</button>
    </div>
    <div class="col-sm-8 checkbox checkbox-remember">
        <label class="control-label checkbox-label" style="text-align:center;"><input type="checkbox" ng-model="checkboxValue"><span class="custom-check-Login" style="margin:0; text-align:center;"></span>&nbsp; Remember me next time</label>
    </div >
  </div>
  <div class="col-sm-4 "></div>
</div>

<div class="row" style="margin-top:36px">
  <div class="col-sm-4 "></div>
  <div class="col-sm-4 " style="padding-left:15px;">
      <a href="/login.html" class="green-forgetPass">Forget password?</a>
  </div>
</div>

</div>


    <div class="f-copyright-c">
        <div class="container">
            <p>Copyright &copy; Hiring.global 2016</p>
        </div>
    </div>
    <!--</footer>-->



</body>

<script>
var myAppLogin = angular.module('myAppLogin',['ngResource']);
myAppLogin.controller('loginController',['$scope', '$resource', function($scope, $resource,$http, $window, $log) {

  $scope.notLoginMsg=false;
  $scope.email='';
  $scope.password='';
  $scope.emailPlaceholder="you@email.com";
  $scope.passwordPlaceholder="";
  $scope.requiedStylePassword='';
  $scope.requiedStyleEmail='';
  $scope.isValidAccountInfo=false;

  $scope.checkAccount=function(){
  $scope.isValidAccountInfo=true;
  if($scope.email=='' )
  {
    $scope.requiedStyleEmail={
      "border-color": "red",
      "border-style": "solid",
      "border-width" : "1px"
    }
    $scope.emailPlaceholder="Email is required";
    $scope.isValidAccountInfo=false;
  }
  else {
    $scope.requiedStyleEmail='';
    $scope.emailPlaceholder="you@email.com";
  }

  if($scope.password=='' )
  {
    $scope.requiedStylePassword={
      "border-color": "red",
      "border-style": "solid",
      "border-width" : "1px"
    }
    $scope.passwordPlaceholder="Password is required";
    $scope.isValidAccountInfo=false;
  }
  else {
    $scope.requiedStylePassword='';
    $scope.passwordPlaceholder="";
  }

}// Check Account

  // login with an account
    var login = $resource("/authenticate")
    $scope.login=function(){
        $scope.notLoginMsg=false;
        $scope.checkAccount();
        if($scope.isValidAccountInfo){
        var accountInfo = new login();
        accountInfo.email = $scope.email;
        accountInfo.password = $scope.password;

        accountInfo.$save(
          function(data){
            if(data.iscompleted)
            {
              window.location = "/profile.html"; // Login and move to profile page
            }
            else {
              window.location = "/steps.html?id";
            }

          },
          function(errorMessage){
            $scope.notLoginMsg=true;
            $scope.password='';
            $scope.requiedStylePassword='';
            $scope.requiedStyleEmail='';
          }
        );
      };
    }// login click

}// controller function
]
);

</script>
</html>
