<!DOCTYPE html>
<html>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-resource.min.js"></script>

  <body>

    <div ng-app="myApp" ng-controller="myCtrl">

      <h2>Account Info</h2><br/>

      <label for="FullName">Full Name</label>
      <input type="text" id="FullName" ng-model="Name"><br/>

      <label for="Email">Email</label>
      <input type="text" id="Email" ng-model="Email"><br/>

      <label for="cities">Select City</label>
      <select id = "cities" ng-model="SelectedCity" ng-options="city.name for city in cities">
      </select><br/>

      <label for="Phone">Phone</label>
      <input type="text" id="Phone" ng-model="Phone"><br/>

      <label for="Password">Password</label>
      <input type="pasword" id="Password" ng-model="Password"><br/>

      <input type='checkbox' ng-model="isStudent">student?</input><br/>

      <h2>Languages</h2><br/>
      <table>
        <tr>
          <td style="border:1px solid black">
            <label for="LanguageName">Language</label>
            <input type="text" id="LanguageName" ng-model="LanguageName"><br/>

            <!--div ng-repeat="profeciency in LanguageProfeciencies">

                <input type="radio" name="LanguageProfeciencyRadio" ng-model="LanguageProfeciency" value="{{profeciency.value}}">
                  {{profeciency.text}}
                </input>
                <br>
            </div-->
            <label for="LanguageProfeciency">Profeciency</label>
            <select id = "LanguageProfeciency" ng-model = "LanguageProfeciency" ng-options="profeciency.text for profeciency in LanguageProfeciencies"></select><br/>

          </td>
          <td style="border:1px solid black">
            <button ng-click="addLanguage()">add --></button><br/>
          </td>
          <td style="border:1px solid black">
            <div ng-repeat="language in languages">
              {{language.name + "(" + language.profeciency + ")"}}<br>
            </div>
          </td>
        </tr>
      </table>

      <h2>Educations</h2><br/>
      <table>
        <tr>
          <td style="border:1px solid black">
            <label for="School">School</label>
            <input type="text" id="School" ng-model="School"><br/>

            From<select ng-model="FromDate" ng-options="opt as opt for opt in dates" ></select><br/>
            To<select ng-model="ToDate" ng-options="opt as opt for opt in dates"></select><br/>

            <label for="degrees">Degree</label>
            <select id = "degrees" ng-model="SelectedDegree" ng-options="degree.name for degree in degrees">
            </select><br/>

            <label for="StudyField">Field of Study</label>
            <input type="text" id="StudyField" ng-model="Field"><br/>

            <label for="Grade">Grade</label>
            <input type="number" id="Grade" ng-model="Grade"><br/>

          </td>
          <td style="border:1px solid black">
            <button ng-click="addEducation()">add --></button><br/>
          </td>
          <td style="border:1px solid black">
            <div ng-repeat="education in educations">
              {{education.school + "(" + education.fromdate + " - " + education.todate + ")"}}<br>
            </div>
          </td>
        </tr>
      </table>

      <h2>Skills</h2><br/>
      <table>
        <tr>
          <td style="border:1px solid black">
            <select ng-model="selectedService" ng-options="service.name for service in services" ng-change="getSkills()"></select><br/>
            <select ng-model="selectedSkill" ng-options="skill.name for skill in skills"></select><br/>
            <select ng-model="SkillProfeciency" ng-options="profeciency.text for profeciency in SkillProfeciencies"></select><br/>
          </td>
          <td style="border:1px solid black">
            <button ng-click="addSkill()">add --></button><br/>
          </td>
          <td style="border:1px solid black">
            <div ng-repeat="skill in AccountSkills">
              {{skill.name+"("+skill.profeciency+")"}}<br>
            </div>
          </td>
        </tr>
      </table>

      <button ng-click="saveAccount()">save</button><br/>


    </div>

    <script>
      // new dependency: ngResource is included just above
      var myapp = new angular.module("myApp", ["ngResource"]);

      // inject the $resource dependency here
      myapp.controller("myCtrl",
        ["$scope", "$resource",
          function($scope , $resource)
          {
            $scope.dates=[];
            for(var i=1970;i<=2020;i++) {
              $scope.dates.push(i);
            }

            $scope.isStudent = true

            var cities = $resource("/cities")

            cities.query(
              function(data){
                $scope.cities = data;
              } // function(data)
            ) // service.query

            var service = $resource("/mainServices")

            service.query(
              function(data){
                $scope.services = data;
              } // function(data)
            ) // service.query

            $scope.getSkills = function(){
              $scope.skills = $scope.selectedService.skills;
            }; // function()

            $scope.languages = [];

            $scope.addLanguage = function() {
                var lang = {
                name: $scope.LanguageName,
                profeciency: $scope.LanguageProfeciency.value
              };
              $scope.languages.push(lang);
            } // $scope.addLanguage = function()

            $scope.LanguageProfeciencies = [
              {text: "Elementary", value: "E"},
              {text: "Basic", value: "B"},
              {text: "Conversational", value: "C"},
              {text: "Fluent", value: "F"},
              {text: "Native", value: "N"}
            ]

            var degrees = $resource("/degrees")

            degrees.query(
              function(data){
                $scope.degrees = data;
              } // function(data)
            ) // service.query

            $scope.educations = [];

            $scope.addEducation = function() {
                var edu = {
                school: $scope.School,
                fromdate: $scope.FromDate,
                todate: $scope.ToDate,
                degree: $scope.SelectedDegree,
                field: $scope.Field,
                grade: $scope.Grade
              };
              $scope.educations.push(edu);
            } // $scope.addLanguage = function()

            $scope.SkillProfeciencies = [
              {text: "Student/Fresh Graduate", value: "S"},
              {text: "Junior Professional", value: "J"},
              {text: "Experienced Professional", value: "E"},
              {text: "Manager", value: "M"}
            ]

            $scope.AccountSkills = []
            $scope.addSkill = function() {
                var skill = {
                  id: $scope.selectedSkill.id,
                  name: $scope.selectedSkill.name,
                  mainserviceid: $scope.selectedSkill.mainserviceid,
                  profeciency: $scope.SkillProfeciency.value,
                  isselected: true
                };
                $scope.AccountSkills.push(skill);
            } // $scope.addLanguage = function()

            var saveAccount = $resource("/saveAccount")

            $scope.saveAccount = function() {

              var newAccount = new saveAccount();
              newAccount.name = $scope.Name
              newAccount.email = $scope.Email
              newAccount.city = $scope.SelectedCity
              newAccount.phone = $scope.Phone
              newAccount.password = $scope.Password
              newAccount.isstudent = $scope.isStudent

              newAccount.languages = $scope.languages

              newAccount.educations = $scope.educations

              newAccount.skills = $scope.AccountSkills

              newAccount.$save(
                function(data){
                  $scope.Name = "";
                  $scope.Email = "";
                  $scope.Phone = "";
                  $scope.Password = "";
                  $scope.City = "";

                  $scope.languages = []
                  $scope.LanguageName = ""

                  $scope.educations = []
                  $scope.School = ""
                  $scope.FromDate = ""
                  $scope.ToDate = ""
                  $scope.SelectedDegree = ""
                  $scope.Field = ""
                  $scope.Grade = ""

                  $scope.AccountSkills = []
                  $scope.selectedSkill = ""
                  $scope.SkillProfeciency = ""

                } // function(data)
              ) // saveAccount.$save
            }

            /* //Sample code for updating a skill
            var updateSkill = $resource("/updateSkill")
            var newupdate = new updateSkill();
            newupdate.accountskillid = 6 //6,7
            newupdate.id = 68
            newupdate.profeciency = "J"

            newupdate.$save(
              function(data) {
              } // function data
            ) // $save()
            */

            /* //Sample code for removing a skill
            var removeSkill = $resource("/deleteSkill")
            var newRemove = new removeSkill();
            newRemove.id = 36
            newRemove.accountskillid = 7 //6,7

            newRemove.$save(
              function(data) {
              } // function data
            ) // $save()
            */

          } // function($scope , $resource)
        ] // ["$scope", "$resource",
      ); // myapp.controller
    </script>
  </body>
</html>
