<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.1.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-resource.min.js"></script>
    <link href="css/steps_style.css" rel="stylesheet">

    <title>Create Profile</title>

</head>

<body class="body-c" bgcolor="#323232" ng-app="globalHiring" ng-controller="stepsController" >

  <!-- First Step  -->
  <div id="step1" class="container step-div " ng-hide="step1Hide" >
    <div class="step-header">
      <h4 class="step-title">Create Account </h4>
    </div>
    <form class="form-horizontal step-form" role="form" name="step1Form">
        <br />
        <img src="images/step_1_bar.png" class="img-responsive bar-image" alt="Mountain View">
        <br/>
        <p class="field-center-label " style="text-align:center;" >You can also sign up with <span style="color: rgb(3, 186, 109)"> Facebook </span>, <span style="color: rgb(3, 186, 109)"> LinkedIn </span> or <span style="color: rgb(3, 186, 109)"> Google </span>.</p>
        <br />
        <div class="form-group field-div" >
          <label class="control-label col-sm-4 field-label" style="text-align:left;" >Fullname</label>
          <div class="col-sm-8">
            <input type="text" class="form-control input-sm input-style"  placeholder="{{fullnamePlaceholder}}" rows="1" ng-model="fullname" ng-style="requiedStyleFullname"  required>
          </div>
        </div>
        <div class="form-group field-div" >
          <label class="control-label col-sm-4 field-label" style="text-align:left;" >Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control input-sm input-style" placeholder="{{emailPlaceholder}}"  rows="1"  ng-model="email" ng-style="requiedStyleEmail"  required/>
          </div>
        </div>
        <div class="form-group field-div" >
          <label class="control-label col-sm-4 field-label" style="text-align:left;" >Select City<img src="images/location.png" class="location-image" alt="Location"></label>
          <div class="col-sm-8" style="text-align:center;">
            <select class="form-control input-sm input-style select-style" style="text-align:center;" ng-model="selectedCity" ng-options="city as city.name for city in cities"></select>
          </div>
        </div>
        <div class="form-group field-div" >
          <label class="control-label col-sm-4 field-label" style="text-align:left;" >Phone (optional)</label>
          <div class="col-sm-8 ">
            <input id="phoneInput" name="phoneInput" type="text" class="form-control input-sm input-style" placeholder="0912 1234567" ng-pattern="phoneRegex" ng-model="phone" />
          </div>
          <span  class="col-sm-12 red-thin-label" style="text-align:center;" ng-show="step1Form.phoneInput.$invalid"> Please Enter a valid phone number </span>
        </div>
        <div class="form-group field-div">
          <label class="control-label col-sm-4 field-label" style="text-align:left;" >Password</label>
          <div class="col-sm-8 ">
            <input type="password" name="password" class="form-control input-sm input-style"  placeholder="{{passwordPlaceholder}}" ng-minlength="6"  ng-model="password" ng-style="requiedStylePassword"  required/>
          </div>
        </div>
        <div class="form-group field-div">
          <label class="control-label col-sm-4 field-label" style="text-align:left;" >Are you a student?</label>
          <div class="col-sm-8 ">

            <label class= "radio-inline radio-button-text" >  <input type="radio" name="isStudent" value="true" ng-model="isStudent"> Yes </label>
            <label class= "radio-inline radio-button-text" >  <input type="radio" name="isStudent" value="false" ng-model="isStudent" > No </label>

          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label class="control-label" style="text-align:left; font-size:12px;"><input type="checkbox" ng-model="checkboxValue"><span class="custom-check"></span>&nbsp; Yes, I understand and agree to the <span style="color: rgb(3, 186, 109)">Global Hiring Platform Terms of Service</span>.</label>
          </div>
          <p  ng-show="termsOfServiceShow" class=" red-thin-label" style="font-size: 10px;" > Please accept the global hiring platform terms of service before continuing </p>
        </div>
<!--        <div class="btn-div-c">
          <button type="button" class="next-button btn-next-c" ng-click="step1NextClick()">Next Step</button>
        </div>
-->
      </form>  <!-- Form finish -->
      <div class="footer btn-div-c">
        <button type="button" class="next-button btn-next-c" ng-click="step1NextClick()">Next Step</button>
      </div>
  </div> <!-- step1 finish -->

  <div id="stepLang" class="container step-div " ng-hide="stepLangHide" >
    <div class="step-header">
      <h4 class="step-title">Language </h4>
    </div>
    <div class="form-horizontal step-form" role="form">
        <br />
        <img ng-src="{{langBarImage}}" class="img-responsive bar-image" alt="Language Step">
        <br />
        <div class="form-group field-div zero-margin" >
          <label class="control-label col-sm-12 field-Bold-label" style="text-align:left; margin-top:60px;" >Language</label>
          <div class="col-sm-12" style="margin-top:10px;">
            <input type="text" class="form-control input-sm input-style"  placeholder="English" rows="1" ng-model="langToAdd.name" >
          </div>
        </div>
        <div class="form-group field-div" >
          <label class="control-label col-sm-12 field-Bold-label" style="text-align:left; margin-top:18px;" >Profeciency</label>
        </div>
<!--                      <div class="field-div" style="top: 100px;">
                      <div class="container" >
                        <div class="profeciencyRadio-button-text" ng-repeat="profeciency in LanguageProfeciencies" style="display: inline;"  >
                        <input type="radio" name="level" value="elementry" ng-model="langToAdd.profeciency" style="float: left; "/>
                        <p >{{profeciency.text}}</p>
                        <p style="padding-left: 30Px;" >{{profeciency.desc}}</p>
                        </div>
                      </div>
                    </div>
-->
      <div class="row radio-langPro-position">
        <div class="col-sm-12 form-group field-div zero-margin">
          <div class="radio">
            <label class="radio-button-text" ><input type="radio" name="level" value="E" ng-model="langToAdd.profeciency">Elementry <br/><p class="black-thin-label">I am only able to understand written text in it.</p></label>
          </div>
        </div>
      </div>
      <div class="row radio-langPro-position">
        <div class="col-sm-12 form-group field-div zero-margin">
          <div class="radio ">
            <label class="radio-button-text" ><input type="radio" name="level" value="B" ng-model="langToAdd.profeciency">Basic <br/><p class="black-thin-label">I am only able to communicate with it through written communication.</p></label>
          </div>
        </div>
      </div>
      <div class="row radio-langPro-position">
        <div class="col-sm-12 form-group field-div zero-margin">
          <div class="radio ">
            <label class="radio-button-text" ><input type="radio" name="level" value="C" ng-model="langToAdd.profeciency">Conversational <br/><p class="black-thin-label">I know it well enough to verbally discuss project details with a client.</p></label>
          </div>
        </div>
      </div>
      <div class="row radio-langPro-position">
        <div class="col-sm-12 form-group field-div zero-margin">
          <div class="radio">
            <label class="radio-button-text" ><input type="radio" name="level" value="F" ng-model="langToAdd.profeciency">Fluent <br/><p class="black-thin-label">I have complete command of it with perfect grammer.</p></label>
          </div>
        </div>
      </div>
      <div class="row radio-langPro-position">
        <div class="col-sm-12 form-group field-div zero-margin">
          <div class="radio">
            <label class="radio-button-text" ><input type="radio" name="level" value="N" ng-model="langToAdd.profeciency">Native or Bollingual <br/><p class="black-thin-label">I have complete command of it, including breadth of vocabulary, idioms.</p></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-div-c">
          <p class="btn-add-new" ng-click="addMoreLangClick(langToAdd)" style="padding-top:10px; margin-top:20px;" >+ Add More Language</p>
        </div>
      </div>

<!--        <div class="row">
          <div class="col-sm-6 btn-div-c" >
            <button type="button" class="next-button btn-prev-c " ng-click="langPreClick()" style="margin-left:40px;">Previous</button>
          </div>
          <div class="col-sm-6 btn-div-c" >
            <button type="button" class="next-button btn-next-c " ng-click="langNextClick()" style="margin-right:40px;">Next Step</button>
          </div>
        </div>
-->
    </div> <!-- Form finish -->

    <div class="footer row">
      <div class="col-sm-6 btn-div-c" >
        <button type="button" class="next-button btn-prev-c " ng-click="langPreClick()" >Previous</button>
      </div>
      <div class="col-sm-6 btn-div-c" >
        <button type="button" class="next-button btn-next-c " ng-click="langNextClick()" >Next Step</button>
      </div>
    </div>

  </div> <!-- Language step finish -->

  <div id="stepEdu" class="container step-div " ng-hide="stepEduHide" >
    <div class="step-header">
      <h4 class="step-title">Education </h4>
    </div>
    <div class="form-horizontal step-form" role="form">
        <br />
        <img ng-src="{{eduBarImage}}" class="img-responsive bar-image" alt="Education Step">
        <br />
        <div class="form-group field-div zero-margin" >
          <label class="control-label col-sm-12 field-Bold-label" style="text-align:left; margin-top:60px;" >School</label>
          <div class="col-sm-12" style="margin-top:10px;">
            <input type="text" class="form-control input-sm input-style"  placeholder="School Name" rows="1" ng-model="educationToAdd.school" >
          </div>
        </div>
        <div class="form-group field-div zero-margin" >
          <label class="control-label col-sm-12 field-Bold-label" style="text-align:left;" >Date Attended</label>

          <div class="col-sm-6 " style="margin-top:10px;">
            <select class="form-control input-sm input-style select-style" ng-model="educationToAdd.fromdate" placeholder="From"   ng-options="opt as opt for opt in dates" ></select>
          </div>
          <div class="col-sm-6 " style="margin-top:10px;">
            <select class="form-control input-sm input-style select-style"  ng-model="educationToAdd.todate" placeholder="To(or expected graduation year)"   ng-options="opt as opt for opt in dates" ></select>
          </div>
        </div>
        <div class="form-group field-div zero-margin" >
          <label class="control-label col-sm-12 field-Bold-label" style="text-align:left;" >Degree</label>
          <div class="col-sm-12" style="margin-top:10px;">
            <select class="form-control input-sm input-style select-style" ng-value="educationToAdd.degree" ng-model="educationToAdd.degree" ng-options="degree as degree.name for degree in degrees"></select>
          </div>
        </div>
        <div class="form-group field-div zero-margin" >
          <label class="control-label col-sm-12 field-Bold-label" style="text-align:left;" >Field Of Study</label>
          <div class="col-sm-12" style="margin-top:10px;">
            <input type="text" class="form-control input-sm input-style" rows="1" ng-model="educationToAdd.field" >
          </div>
        </div>
        <div class="form-group field-div" >
          <label class="control-label col-sm-12 field-Bold-label" style="text-align:left;" >Grade</label>
          <div class="col-sm-12" style="margin-top:10px;">
            <input type="text" class="form-control input-sm input-style" rows="1" ng-model="educationToAdd.grade" >
          </div>
        </div>
        <div class="row">
          <div class="btn-div-c">
            <p class="btn-add-new" ng-click="addMoreEduClick(educationToAdd)" style="padding-top:10px;margin-top:60px;" >+ Add More Education</p>
          </div>
        </div>

<!--          <div class="row">
            <div class="col-sm-6 btn-div-c" >
              <button type="button" class="next-button btn-prev-c " ng-click="eduPreClick()" style="margin-left:40px;">Previous</button>
            </div>
            <div class="col-sm-6 btn-div-c" >
              <button type="button" class="next-button btn-next-c " ng-click="eduNextClick()" style="margin-right:40px;">Next Step</button>
            </div>
          </div>
-->
    </div> <!--form finish -->

    <div class="footer row">
      <div class="col-sm-6 btn-div-c" >
        <button type="button" class="next-button btn-prev-c " ng-click="eduPreClick()" >Previous</button>
      </div>
      <div class="col-sm-6 btn-div-c" >
        <button type="button" class="next-button btn-next-c " ng-click="eduNextClick()" >{{eduBTNLabel}}</button>
      </div>
    </div>
  </div><!-- education step finish -->

  <div id="stepMainSRV" class="container step-div " ng-hide="stepMainSRVHide" >
    <div class="step-header">
      <h4 class="step-title">Main Services </h4>
    </div>
    <div class="form-horizontal step-form" role="form">
        <br />
        <img ng-src={{mainSRVBarImage}} class="img-responsive bar-image" alt="Main service Step">
        <br />
        <div class="form-group field-div" >
          <label class="control-label col-sm-12 field-Bold-label" style="text-align:left; margin-top:60px;padding-left:0" >What are the main services you offer?<span style="font-weight:200;">(Please select all that you're open to)</span></label>
        </div>
        <div class="form-group service-div" >
          <div class="serviceContainer"  >
            <div class="item" ng-repeat='service in mainServices' ng-click='toggleSelectedSRV(service)' ng-class="{ selected: service.isselected  }">
              <input type="checkbox" ng-attr-id="{{'c' + service.id}}" ng-model="service.isselected" />
            <!--   <img src="images/sample_main_service.png" class="img-responsive" style="padding-top:0px" alt="main Service Img"> -->
              <label ng-attr-for="{{'c' +service.id}}" ng-class="{ selected: service.isselected  }"> {{service.name}}
              <!--  <img ng-src="{{getIcon(service)}}">
              -->
              </label>
            </div>
          </div>
          </div>
<!--          <div class="row">
            <div class="col-sm-6 btn-div-c" >
              <button type="button" class="next-button btn-prev-c " ng-click="mainSRVPreClick()" style="margin-left:40px;">Previous</button>
            </div>
            <div class="col-sm-6 btn-div-c" >
              <button type="button" class="next-button btn-next-c " ng-click="mainSRVNextClick()" style="margin-right:40px;">Next Step</button>
            </div>
          </div>
-->
      </div><!--form finish -->

<div class="footer row">
  <div class="col-sm-6 btn-div-c" >
    <button type="button" class="next-button btn-prev-c " ng-click="mainSRVPreClick()" >Previous</button>
  </div>
  <div class="col-sm-6 btn-div-c" >
    <button type="button" class="next-button btn-next-c " ng-click="mainSRVNextClick()" >Next Step</button>
  </div>
</div>

  </div><!--Main Services step finish -->

  <div id="stepSkills" class="container step-div " ng-hide="stepSkillHide" >
    <div class="step-header">
      <h4 class="step-title">Skills</h4>
    </div>
    <div class="form-horizontal step-form" role="form">
        <br />
        <img ng-src={{skillBarImage}} class="img-responsive bar-image" alt="Skill bar">
        <br />
        <div class="form-group field-div" style="overflow-y: scroll; margin-bottom:50px;" >
          <div id="skilldList" style="text-align:left; margin-top:60px;" >
            <ul ng-repeat="service in mainServices | filter: {isselected: true } " style="text-align:left; padding-left:2px;" >
              <p class="black-bold-label" style="text-align:left; padding-left:2px; font-size:16px; font-weight:250"> {{service.name}} <br/> <span style="font-size:12px; font-weight:350">{{service.question}}</span></p>
              <li ng-repeat="skillOfSRV in service.skills " style="list-style-type:none;">
                <p class="black-border-label"  ng-click="skillClick(skillOfSRV)" ng-class="{ selected: skillOfSRV.isselected }" >{{skillOfSRV.name}}</p>
              </li>
            </ul>
          </div>
        </div>
<!--        <div class="row">
          <div class="col-sm-6 btn-div-c" >
            <button type="button" class="next-button btn-prev-c " ng-click="skillPreClick()" style="margin-left:40px;">Previous</button>
          </div>
          <div class="col-sm-6 btn-div-c" >
            <button type="button"  class="next-button btn-next-c " ng-click="finishClick()" style="margin-right:40px;">Finish</button>
          </div>
        </div>
-->
    </div><!--form finish -->

    <div class="footer row">
      <div class="col-sm-6 btn-div-c" >
        <button type="button" class="next-button btn-prev-c " ng-click="skillPreClick()" >Previous</button>
      </div>
      <div class="col-sm-6 btn-div-c" >
        <button type="button"  class="next-button btn-next-c " ng-click="skillNextClick()" >{{skillsBTNLabel}}</button>
      </div>
    </div>
  </div><!--Skill step finish -->

  <!-- ForceEnglish Modal -->
  <script type="text/ng-template" id="forceEnglishModalContent.html">
    <div class="modal-header btn-div-c" style="margin-bottom:0;">
      <button type="button" class="close" ng-click="close()" >&times;</button>
      <h3 class="modal-title btn-next-c" style="text-align:center;padding-top:10px;">English</h3>
    </div>
    <div class="modal-body">
      <label class="control-label col-sm-12 field-Bold-label" style="text-align:left;" >How would you describe your level of profeciency in English?</label>
      </div>
      <div class="form-group" >
      <ul ng-repeat="langProf in LanguageProfeciencies" style="padding-left: 25px;">
        <li>
          <div class="row" style="margin:0;">
            <div class="radio" style="margin:0;">
              <label class="radio-button-text" ><input type="radio" name="level" ng-value="langProf.value" ng-click="$event.preventDefault(); langToAdd.profeciency = langProf.value">{{ langProf.text }} <br/><span class="black-thin-label">Description.</span></label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </script>

<!-- Profeciency Modal -->
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header btn-div-c" style="margin-bottom:0;">
    <button type="button" class="close" ng-click="close()" >&times;</button>
    <h3 class="modal-title btn-next-c" style="text-align:center;padding-top:10px;">{{selectedSkill.name}}</h3>
  </div>
  <div class="modal-body">
    <label class="control-label col-sm-12 field-Bold-label" style="text-align:left;" >How would you describe your level of profeciency?</label>
    </div>
    <div class="form-group" >
    <ul ng-repeat="SkillProf in skillProfeciencies" style="padding-left: 25px;">
      <li>
        <div class="row" style="margin:0;">
          <div class="radio" style="margin:0;">
            <label class="radio-button-text" ><input type="radio" name="level" ng-value="SkillProf" ng-click="$event.preventDefault(); selected.profeciency = SkillProf">{{ SkillProf.text }} <br/><span class="black-thin-label">Description.</span></label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</script>

<!-- Error Modal -->
<script type="text/ng-template" id="errorModal.html">
  <div class="modal-header btn-div-c" style="margin-bottom:0;">
    <button type="button" class="close" ng-click="close()" >&times;</button>
    <h3 class="modal-title" style="text-align:center;padding-top:10px;">Error</h3>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-top:30px;margin-bottom:30px;">
      <label class="control-label col-sm-12 error-label" style="text-align:center;" >{{errorMsgToShow}}</label>
    </div>
  </div>
  <div class="modal-footer">
          <button class="btn ok-btn" type="button" ng-click="ok()">OK</button>
  </div>
</script>



</body>

<script>
var globalHiring = angular.module('globalHiring',['ngResource','ngAnimate', 'ui.bootstrap']);
globalHiring.controller('stepsController',['$scope', '$resource','$uibModal', function($scope, $resource,$uibModal, $http, $window, $log) {

  $scope.phoneRegex='[0-9 ]+';
  $scope.userAccount='';
  // Steps controller
  //$scope.authenticateHide=false;
  $scope.step1Hide=false;
  $scope.stepLangHide=true;
  $scope.stepEduHide=true;
  $scope.stepMainSRVHide=true;
  $scope.stepSkillHide=true;
  $scope.isStudent=true;

  $scope.fullname='';
  $scope.termsOfServiceShow= false;
  $scope.checkboxValue=false;
  $scope.password='';
  $scope.email='';

  $scope.fullnamePlaceholder="Your full name";
  $scope.emailPlaceholder="you@email.com";
  $scope.passwordPlaceholder="min 6 characters";
  $scope.requiedStyleFullname='';
  $scope.requiedStylePassword='';
  $scope.requiedStyleEmail='';

  $scope.errorMsg='';

  $scope.skillsBTNLabel="";
  $scope.eduBTNLabel="";
  // Next buttons click
  $scope.step1NextClick = function(){
    $scope.requiedStyleFullname='';
    $scope.requiedStylePassword='';
    $scope.requiedStyleEmail='';

    if($scope.fullname=='' || $scope.email=='' || !$scope.checkboxValue || $scope.password==''  )
    {
      if($scope.fullname=='' )
      {
        $scope.requiedStyleFullname={
          "border-color": "red",
          "border-style": "solid",
          "border-width" : "1px"
        }
        $scope.fullnamePlaceholder="Fullname is required";
      }
      else {
        $scope.requiedStyleFullname='';
        $scope.fullnamePlaceholder="Your full name";
      }

      if($scope.email=='' )
      {
        $scope.requiedStyleEmail={
          "border-color": "red",
          "border-style": "solid",
          "border-width" : "1px"
        }
        $scope.emailPlaceholder="Email is required";
      }
      else {
        $scope.requiedStyleEmail='';
        $scope.emailPlaceholder="you@email.com";
      }

      if($scope.password=='' )
      {
        $scope.requiedStylePassword={
          "border-color": "red",
          "border-style": "solid",
          "border-width" : "1px"
        }
        $scope.passwordPlaceholder="Password is required";
      }
      else {
        $scope.requiedStylePassword='';
        $scope.passwordPlaceholder="";
      }

      if(!$scope.checkboxValue){
        $scope.termsOfServiceShow= true;
      }
      else{
        $scope.termsOfServiceShow= false;
      }

    }
    else {
      $scope.step1Hide=true;
      $scope.createNewAccount();

      if($scope.isStudent=="true"){
        $scope.stepLangHide=false;
        $scope.langBarImage="images/step_2_bar.png";
      }
      else {
        $scope.stepMainSRVHide=false;
        $scope.mainSRVBarImage="images/step_2_bar.png";
        $scope.getMainServices();
    }
  }
  };

  $scope.langNextClick = function(){

    if (($scope.langs.length==0 && $scope.langToAdd.name!='')||($scope.langs.length>0 && $scope.langs[$scope.langs.length-1].name!=$scope.langToAdd.name))
    {
      $scope.addMoreLangClick($scope.langToAdd);
    }
    if($scope.langs.length>0)
    {
      hasEnglish=false;
      for(i=0;i<$scope.langs.length;i++)
      {
        if($scope.langs[i].name=="English")
        {
          hasEnglish=true;
        }
      }
      if(!hasEnglish)
      {
        $scope.errorMsg="NO ENGLISH"
        $scope.forceEnglishModal();
      }
    }
    if($scope.langs.length==0)
    {
      $scope.errorMsg="NO ENGLISH"
      $scope.forceEnglishModal();
    }

    $scope.stepLangHide=true;
    if($scope.isStudent =="true"){
      $scope.stepEduHide=false;
      $scope.eduBTNLabel="Next";
      $scope.eduBarImage="images/step_3_bar.png";
    }
    else{
      $scope.stepEduHide=false;
      $scope.eduBTNLabel="Finish";
      $scope.eduBarImage="images/step_5_bar.png";

    }
  };
  $scope.eduNextClick = function(){

    if (($scope.educations.length==0 && $scope.educationToAdd.school!='')||($scope.educations.length>0 && $scope.educations[$scope.educations.length-1].school!=$scope.educationToAdd.school))
    {
      $scope.addMoreEduClick($scope.educationToAdd);
    }

      $scope.stepEduHide=true;
    if($scope.isStudent =="true"){
      $scope.stepMainSRVHide=false;
      $scope.mainSRVBarImage="images/step_4_bar.png";
      $scope.getMainServices();
    }
    else{
      //$scope.stepSkillHide=false;
      $scope.finishClick();
    }

  };
  $scope.mainSRVNextClick = function(){

    $scope.stepMainSRVHide=true;
    if($scope.isStudent=="true"){
      $scope.stepSkillHide=false;
      $scope.skillsBTNLabel="Finish";
      $scope.skillBarImage="images/step_5_bar.png";
    }
    else{
      $scope.stepSkillHide=false;
      $scope.skillsBTNLabel="Next";
      $scope.skillBarImage="images/step_3_bar.png";
    }
  };

  $scope.skillNextClick=function(){
    if($scope.isStudent=="true"){
      $scope.finishClick();
    }
    else{
      $scope.stepSkillHide=true;
      $scope.stepLangHide=false;
      $scope.langBarImage="images/step_4_bar.png";

    }
  }

  // Previous buttons click
  $scope.langPreClick=function(){
    $scope.stepLangHide=true;
    if($scope.isStudent=="true"){
      $scope.step1Hide=false;
    }
    else {
      $scope.stepSkillHide=false;
      $scope.skillBarImage="images/step_3_bar.png";
    }
  }
  $scope.eduPreClick=function(){
    $scope.stepEduHide=true;
    $scope.stepLangHide=false;
    if($scope.isStudent=="true"){
      $scope.langBarImage="images/step_2_bar.png";
    }
    else {
      $scope.langBarImage="images/step_4_bar.png";
    }
  }
  $scope.mainSRVPreClick=function(){
    $scope.stepMainSRVHide=true;
    if($scope.isStudent=="true"){
      $scope.stepEduHide=false;
      $scope.eduBarImage="images/step_3_bar.png";
    }
    else {
      $scope.step1Hide=false;
    }
  }
  $scope.skillPreClick=function(){
    $scope.stepMainSRVHide=false;
    $scope.stepSkillHide=true;
    if($scope.isStudent=="true"){
      $scope.mainSRVBarImage="images/step_5_bar.png";
    }
    else {
      $scope.mainSRVBarImage="images/step_3_bar.png";
    }
  }

  $scope.selectedCity='';

  $scope.dates=[];
  for(var i=1970;i<=2020;i++) {
    $scope.dates.push(i);
  }

  var cities = $resource("/cities")
    cities.query(
      function(data){
        $scope.cities = data;
      } // function(data)
    ) // service.query

    var degrees = $resource("/degrees")
    degrees.query(
      function(data){
        $scope.degrees = data;
      } // function(data)
    ) // service.query


  //Add more Language
  $scope.LanguageProfeciencies = [
    {text: "Elementary", value: "E", desc: "Discription"},
    {text: "Basic", value: "B", desc: "Discription"},
    {text: "Conversational", value: "C", desc: "Discription"},
    {text: "Fluent", value: "F", desc: "Discription"},
    {text: "Native", value: "N", desc: "Discription"}
  ]
  $scope.langs = [];
  $scope.langToAdd={
    name:'',
    profeciency:''
  };

  var index =0;
  $scope.addMoreLangClick=function(langToAdd){
    if( langToAdd.name!='' && langToAdd.profeciency!='')
    {
      $scope.langs.push(angular.copy(langToAdd));
      $scope.langToAdd.name='';
      $scope.langToAdd.profeciency='';
    }
  }


  //Force Englisg Modal

  $scope.animationsEnabled = true;
  $scope.forceEnglishModal = function () {

    var modalInstance = $uibModal.open({
      animation: $scope.animationsEnabled,
      templateUrl: 'forceEnglishModalContent.html',
      controller: 'ForceEnglishModalInstanceCtrl',
      resolve: {
        langToAdd: function () {
          return $scope.langToAdd;
        },
        LanguageProfeciencies: function () {
          return $scope.LanguageProfeciencies;
        }
      }
    });

    modalInstance.result.then(function (langToAdd) {
      $scope.addMoreLangClick(langToAdd);
    }, function () {
      $log.info('Modal dismissed at: ' + new Date());
    });
  };
  //Modal Force Englisg is finished

  //Add Education
  $scope.educations = [];
  $scope.educationToAdd = {
    school: '',
    fromdate: '',
    todate: '',
    degree:'',
    field:'',
    grade:''
  };

  var indexEdu =0;
  $scope.addMoreEduClick=function(educationToAdd){
    if($scope.educationToAdd.school!='')
    {
      $scope.educations.push(angular.copy(educationToAdd));
      $scope.educationToAdd.school='';
      $scope.educationToAdd.fromdate='';
      $scope.educationToAdd.todate='';
      $scope.educationToAdd.degree='';
      $scope.educationToAdd.field='';
      $scope.educationToAdd.grade='';
    }
  }

  // Main Services
  $scope.toggleSelectedSRV = function(service) {
     service.isselected = !service.isselected;
  };

  var service = $resource("/mainServices")
  $scope.getMainServices = function(){
    service.query(
      function(data){
        $scope.mainServices = data;
      } // function(data)
    ) // service.query
  };

  $scope.getIcon = function(serviceSelect){
    if (serviceSelect.icon) {
      if (serviceSelect.isChecked) return serviceSelect.icon.on;
      else return serviceSelect.icon.off;
    }
  }

  $scope.skillProfeciencies = [
    {text: "Student/Fresh Graduate", value: "S"},
    {text: "Junior Professional", value: "J"},
    {text: "Experienced Professional", value: "E"},
    {text: "Manager", value: "M"}
  ]
  //Profeciency Modal

  $scope.animationsEnabled = true;
  $scope.openSkillProf = function (selectedSkill) {

    var modalInstance = $uibModal.open({
      animation: $scope.animationsEnabled,
      templateUrl: 'myModalContent.html',
      controller: 'ModalInstanceCtrl',
      resolve: {
        skillProfeciencies: function () {
          return $scope.skillProfeciencies;
        },
        selectedSkill : function (){
          return selectedSkill;
        }
      }
    });

    modalInstance.result.then(function (selectedItem) {
      //TODO: should be checked with Back-end
      selectedSkill.profeciency=selectedItem.profeciency.value;
    }, function () {
      $log.info('Modal dismissed at: ' + new Date());
    });
  };
  //Modal Profeciency is finished


  $scope.skillClick=function(selectedSkill){
    selectedSkill.isselected=!selectedSkill.isselected;
    if(selectedSkill.isselected)
    {
      $scope.openSkillProf(selectedSkill);

    }
  }

  //ErrorMsg Modal

  $scope.animationsEnabled = true;
  $scope.errorModal = function () {

    var errorModalInstance = $uibModal.open({
      animation: $scope.animationsEnabled,
      templateUrl: 'errorModal.html',
      controller: 'ErrormodalInstanceCtrl',
      resolve: {
        errorMsg: function () {
          return $scope.errorMsg;
        }
      }
    });

    errorModalInstance.result.then(function () {
      var test="";
        window.location = "/steps.html";
    }, function () {
      $log.info('Modal dismissed at: ' + new Date());
    });
  };
  //Modal ErrorMsg is finished

// Create A New Account in First steps
var saveAccount = $resource("/saveAccount")
$scope.createNewAccount=function(){
      var newAccount = new saveAccount();
      newAccount.name = $scope.fullname;
      newAccount.email = $scope.email;
      newAccount.city = $scope.selectedCity;
      newAccount.phone = $scope.phone;
      newAccount.password = $scope.password;
      if($scope.isStudent=="true"){
        newAccount.isstudent = true;
      }
      else {
        newAccount.isstudent = false;
      }

      newAccount.$save(
        function(data){
          $scope.userAccount=data;
          //window.location = "/profile.html"; // save and move to profile page
        },
        function(errorMsg){
          $scope.errorMsg="There is a problem in creating your account, Please Try Again."
          $scope.errorModal();
        }
      );

}
// End of $scope.createNewAccount


// Save an account
  var completeAccount = $resource("/completeAccount")
  $scope.finishClick=function(){
      var finishAccount = new completeAccount();
      finishAccount.id=$scope.userAccount.id;
      finishAccount.languages = $scope.langs;

      finishAccount.educations = $scope.educations;

      finishAccount.skills = $scope.mainServices;

      finishAccount.$save(
        function(data){
          $scope.userAccount=data;
          window.location = "/profile.html"; // save and move to profile page
        },
        function(errorMsg){
          $scope.errorMsg="There is a problem in creating your account, Please Try Again."
          $scope.errorModal();
        }
      );

      //window.location = "/profile.html"; // save and move to profile page
  }// finish click

}
]// scope, resource
);


angular.module('globalHiring').controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, skillProfeciencies, selectedSkill) {

  $scope.skillProfeciencies = skillProfeciencies;
  $scope.selectedSkill=selectedSkill;
  $scope.selected = {
    profeciency: $scope.skillProfeciencies[0]
  };

  $scope.close= function () {
    $uibModalInstance.close($scope.selected);
  };

  $scope.cancel = function () {
    $uibModalInstance.dismiss('cancel');
  };
});


angular.module('globalHiring').controller('ErrormodalInstanceCtrl', function ($scope, $uibModalInstance, errorMsg) {

  $scope.errorMsgToShow=errorMsg;

  $scope.close= function () {
    $uibModalInstance.close();
  };
  $scope.ok= function () {
    $uibModalInstance.close();
  };
});


angular.module('globalHiring').controller('ForceEnglishModalInstanceCtrl', function ($scope, $uibModalInstance,langToAdd,LanguageProfeciencies) {

  $scope.langToAdd = langToAdd;
  $scope.LanguageProfeciencies=LanguageProfeciencies;
  $scope.langToAdd = {
    name:"English",
    profeciency: $scope.LanguageProfeciencies[0].value
  };

  $scope.close= function () {
    $uibModalInstance.close($scope.langToAdd);
  };

  $scope.cancel = function () {
    $uibModalInstance.dismiss('cancel');
  };
});
</script>
</html>
